@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
body {
  max-width: 800px;
  margin: auto;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px; }

#hero {
  background: #500E10;
  margin: 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  #hero img {
    transition: 1s; }
    #hero img:hover {
      filter: invert(100%); }

nav {
  background: black;
  padding-left: 15px;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    display: inline-flex;
    margin: 0;
    paddin: 0; }
    ul li a {
      text-decoration: none;
      color: white;
      margin: 0;
      padding: 2px 10px 2px 5px;
      transition: 0.5s; }
    ul li a:hover {
      background: #DEDEDE;
      color: #500E10; }

.date {
  text-align: right;
  font-size: 16px;
  padding: 6px 0; }

main {
  margin: 0 15px 0; }

.headline {
  background: #DEDEDE;
  margin-bottom: 11px !important;
  padding-left: 10px; }

.flex {
  display: flex; }
  .flex .content {
    width: 100%;
    margin-left: -8px; }
    .flex .content > div {
      margin: 0 0 8px 8px; }
    .flex .content .flex1, .flex .content .flex2 {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      justify-content: space-between; }
      .flex .content .flex1 > div, .flex .content .flex2 > div {
        position: relative;
        width: 200px;
        height: 160px; }
        .flex .content .flex1 > div img, .flex .content .flex2 > div img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 1s; }
          .flex .content .flex1 > div img:hover, .flex .content .flex2 > div img:hover {
            filter: hue-rotate(180deg); }
        .flex .content .flex1 > div .text, .flex .content .flex2 > div .text {
          position: absolute;
          bottom: 0px;
          right: 0px;
          background: black;
          width: 100%; }
          .flex .content .flex1 > div .text p, .flex .content .flex2 > div .text p {
            font-size: 14px;
            margin: 0;
            padding: 6px;
            color: white; }
    .flex .content .flex2 > div {
      width: 305px;
      height: 242px;
      margin-bottom: 35px; }
      .flex .content .flex2 > div img {
        width: 100%; }
      .flex .content .flex2 > div .text {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: black;
        width: 100%; }
        .flex .content .flex2 > div .text p {
          font-size: 22px;
          margin: 0;
          padding: 15px 0 15px 10px;
          color: white; }
    .flex .content .article img {
      width: 45%;
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
      border-radius: 0 30px 0 30px; }

.banner {
  min-width: 112px;
  max-width: 115px;
  text-align: right; }

.banner2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px; }
  .banner2 img {
    max-width: 100%;
    transition: 1s; }
    .banner2 img:hover {
      filter: invert(100%); }

footer {
  background: black;
  color: white; }
  footer div:first-child {
    font-size: 18px;
    padding: 5px 0 0 15px;
    text-align: left; }
  footer div:nth-child(2) {
    text-align: right;
    padding: 20px; }
  footer div:nth-child(3) {
    text-align: center;
    font-size: 14px;
    padding: 10px; }

#warning, #warning1 {
  display: none;
  color: red;
  text-align: center; }

.mobile {
  display: none; }

@media screen and (max-width: 768px) {
  #hero {
    flex-direction: column;
    padding: 9px; }

  .desktop {
    display: none; }

  .mobile {
    display: block; }

  nav {
    padding: 0; }
    nav ul {
      text-align: center; }
      nav ul li > a {
        padding: 2px 2vw 2px 2vw; }

  footer div {
    text-align: center !important; }

  main {
    margin: 2.3vw; }

  .headline {
    margin: 0 0 1.6vw 0 !important;
    padding-left: 6px; }

  .headline2 {
    margin: 0 0 2vw 0 !important; }

  .flex .content {
    margin: 0; }
    .flex .content .flex1, .flex .content .flex2 {
      margin: 0; }
      .flex .content .flex1 > div, .flex .content .flex2 > div {
        width: 43vw;
        height: 36vw;
        margin-bottom: 4vw; }
        .flex .content .flex1 > div .text p, .flex .content .flex2 > div .text p {
          font-size: 3.1vw;
          padding: 3vw 0 3vw 1.4vw; }
    .flex .content .article {
      font-size: 3.1vw; }

  footer {
    margin-top: 10vw;
    padding-bottom: 3vw; } }
@media screen and (max-width: 480px) {
  #hero {
    flex-direction: row; }
    #hero * {
      padding-left: 3vw; }

  .desktop2, .date {
    display: none; } }
@media screen and (max-width: 280px) {
  body * {
    display: none; }

  #warning {
    display: block; } }
@media print {
  body * {
    display: none; }

  #warning1, #warning1 * {
    display: block; } }

/*# sourceMappingURL=styles.css.map */
